<div class="keep-together pdfContainerWhite"{% if loop.index == pages|length %} style="height:100%;"{% endif %}>
    <div class="textpage">
        {% if page.page.title and page.page.title != '' %}
            <h1 class="pdfMainPageTitleA blackSectionTitle">{{ page.page.title }}</h1>
            <div class="righettaBluA">&nbsp;&nbsp;</div>
        {% endif %}
        <div class="listOfApplications">
            <div class="divImagePage">
                <img class="imageForImagePage" src="{{ absolute_url(asset(upload_images_pdf_directory ~ "/" ~ page.page.image)) }}">
            </div>
        </div>
   </div>
</div>


