<div class="container-fluid {% if loop.index is odd %}pdfContainerWhite{% else %}pdfContainerGrey{% endif %}">
    <div class="col-xs-12">
        <h1 class="pdfMainPageTitle blackSectionTitle">{{ page.page.title }}</h1>
        <hr class="afterTitle">
        <br><br><br>
        <p class="condensed">
            {{ page.page.text|striptags('<br><b><i><u><h1><hr><ul><li><ol><strong><p><table><thead><tbody><tr><th><td>')|raw }}
        </p>
   </div>
</div>