<div class="keep-together {% if loop.index is odd %}pdfContainerWhite{% else %}pdfContainerGrey{% endif %}"{% if loop.index == pages|length %} style="height:100%;"{% endif %}>
    <div class="textpage">
        {% if page.page.title and page.page.title != '' %}
            <h1 class="pdfMainPageTitleA blackSectionTitle">{{ page.page.title }}</h1>
            <div class="righettaBluA">&nbsp;&nbsp;</div>
        {% endif %}
        
            <p class="condensed_small">
                {{ page.page.text|striptags('<br><b><i><u><h1><hr><ul><li><ol><strong><p><span><table><thead><tbody><td><tr><th><tfoot>')|raw }}
            </p>
        
   </div>
</div>